<!DOCTYPE html>
<html lang="en">
{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    
<h2 style="color:olivedrab">About Us</h2>
<h3>The Best Medical Service of Your City. Check Our All Feature</h3>
<center>
<h4>Welcome to our new website. We encourage you to find out more about the values and vision that guides us, the services and programs we offer, the indicators that ensure our continued accountability and transparency, and the news and events that matter most to you. It is the place where you will find information on career opportunities with BMH and be able to access general healthcare information to keep you well informed.</h4>
    
<h4>Blesssings Hospital has a proud tradition of care. For Last so many years, Our Hospital has cared for the people of India, surrounding communities, and beyond, being a significant player within the State. Residing in the heart of a beautiful cottage country on the shores of the Rivers, we offer healthcare not only to our community residents but to the many visitors who frequent our beautiful area year round.</h4>
</center>
{% endblock %}
</body>
</html>