<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<h1>welcome</h1>

<form action="" method="post">
{% csrf_token %}
<table>

<tr>
<td >Username   </td>
<td>{{ reg.Username }}</td>
</tr>
<tr>
<td >Password   </td>
<td>{{ reg.Password }}</td>
</tr>
<tr>
    <td>
<input type="submit" name="login" value="Login"/>
</td>
</tr>
</table>
<h2>{{ msg }} </h2>
<br>
<br>

<a href="/hospital/ ">Back</a>



</form>
</body>
</html>