<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<h1>welcome</h1>

<form action="/hospital/doc_prof_update" method="post">
    
    
    {% csrf_token %}
    <table>

 
    <tr>
        <td >Your ID:</td>
        <td>{{ docs.DID }}</td>
    </tr>


    <tr>
    <td>
    <input type="submit" value="View My Profile">
    </td>
    </tr>

    </table>
   </form>

   <h2>{{ msg }}</h2>
   <br>
   <br>

   <a href="/hospital/doctor_desk">Back</a>
</body>

</html>