<!DOCTYPE html>
<html lang="en">

{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Patient's Desk</title>
</head>
<body>
<h1>Patients' Details</h1>
<table border="1" cellspacing="3" cellpadding="3">
    <tr>
        <th>Name</th>
        <th>Patient's ID</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Appointment Date and Time</th>
        <th>Mobile No</th>
        <th>Address</th>
    </tr>
    {% for pat in pats %}
    <tr>
        <td>{{ pat.Name }}</td>
        <td>{{ pat.PID }}</td>
        <td>{{ pat.Age}}</td>
        <td>{{ pat.Gender }}</td>
        <td>{{ pat.Department }}</td>
        <td>{{ pat.appointment_date_time }}</td>
        <td>{{ pat.mobile_no }}</td>
        <td>{{ pat.address }}</td>
        <td>
            <a href="/hospital/patient_adm_update/{{ pat.PID }}">Edit/</a>
            <a href="/hospital/pat_delete/{{ pat.PID }}">/Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>
<br>
<br>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<p>
    <a href="/hospital/admin_page">Back to Admin</a>
</p>

</body>

</html>