<!DOCTYPE html>
<html lang="en">
{% extends 'hospital/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>




<div class="button1">
    <h4>New Patient?</h4>
    <p>
        <a href="/hospital/patient_signup">Register</a>
    </p>
</div>

<div class="button2">
    <h4>Already Registered?</h4>
    <p>
        <a href="/hospital/pat_log_met">Login</a>
    </p>
</div>
{% endblock %}


</body>
</html>
